################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chatgpt-aspnet-integracao/FileContentIndex
/.vs/IntegracaoChatGPT/FileContentIndex
